#profile-box {
    position:fixed;
    top:0;
    right:0;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

#timeline {
    margin: 10px;
}

.post {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

#next-button {
    margin: 10px;
}

#logout {
    text-decoration:none;
    color:black;
}

#notification {
    cursor: pointer;
    margin-right: 20px;
}

i {
    cursor:pointer;
}

.invisible {
    display:none;
}